<link rel="stylesheet" href="/css/header.css"> 




<div class="navbar">
<div id="logo">CodeZed</div>
   <a href="/">home</a>
   <a href="/users/profile">profile</a>

      <% if(locals.user){%>


         <%=user.name%>
         <a href="/users/sign-out"> sign-out</a>
       
       
         <%}else{%>
       
       
       <a href="/users/sign-in">sign in</a>
       <a href="/users/sign-up">sign up</a>
       
          
          <%}%>



</div>


