<header>
   <h1>header</h1>
</header>

<ul>
   <a href="/">home</a>
   <a href="/users/profile">profile</a>
<% if(locals.user){%>


  <%=user.name%>
  <li><a href="/users/sign-out"> sign-out</a></li>


  <%}else{%>


<li><a href="/users/sign-in">sign in</a></li>
<li><a href="/users/sign-up">sign up</a></li>

   
   <%}%>




</ul>