
      <link rel="stylesheet" href="/css/user_profile.css"> 
        <!-- <h1>
            Codeial / <%= title %>
        </h1> -->


        <div id="user">
        <p> name: <%=user.name%></p>
        <p> email : <%=user.email%></p>
      </div>