
<form action="/create-session" method="post">


    <input type="email" name="email" required placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="sign in">
</form>