<form action="/create-user" method="post">
    <input type="text" name="name" required placeholder="Your name">
    <input type="email" name="email" required placeholder=" your email">
    <input type="password" name="password" required placeholder="password">
    <input type="password" name="confirm-password" required placeholder="confirm password" >
    <input type="submit" value="sign up">
</form>